.container {
    max-width: 800px;
    margin: 0 auto;
}
.deckard-item {
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: center;
    height: 300px;
}
body {
    overflow: hidden;
}