.deckard-set,
.deckard-set:before,
.deckard-set:after,
.deckard-set *,
.deckard-set *:before,
.deckard-set *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.deckard-set {
    width: 100%;
    min-height: 300px;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.deckard-item {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    margin: 0;
    padding: 0;
}
.deckard-item.active {
    display: block;
}