.deckard-slides,
.deckard-slides:before,
.deckard-slides:after,
.deckard-slides *,
.deckard-slides *:before,
.deckard-slides *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.deckard-slides {
    width: 100%;
    min-height: 300px;
    position: relative;
    margin: 0;
    padding: 0;
}
.deckard-slide {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    margin: 0;
    padding: 0;
}
.deckard-slide.active {
    display: block;
}